header {
  font-style: oblique;
  font-size: 52px;
  color: #FFFFFF;
  background-color: green;
  display: flex;
  justify-content: center;
}

img {
  height: 350px;
  width: 500px;
}

ul{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

a {
  margin: 5px;
}

button {
  background-color: green;
  border: none;
  line-height: min(2.5);
  margin: 5px;
  padding: 15px;
}

footer {
  background-color: aqua;
  color: #FFFFFF;
  display: flex;
  justify-content: right;
}

.Blue {
  background-color: blue;
}

.Red {
  background-color: red;
}

.Green {
  background-color: green;
}

.Anker {
  color: white;
}

#imp {
  color: black;
}
#dat {
  color: darkviolet;
}
